.character-card {
  max-width: 200px;
  overflow: hidden;

  .mat-card-image {
    width: auto;
    min-height: 230px;
    max-height: 230px;
  }

  &.thumbnail {
    max-width: 100px;

    .mat-card-image {
      width: auto;
      min-height: 140px;
      max-height: 140px;
    }
  }
}

@media screen and (max-width: 600px) {
  .character-card {
    .mat-card-image {
      margin: 0 auto;
      min-height: 120px;
      max-height: 120px;
    }

    &.thumbnail {
      .mat-card-image {
        margin: 0 auto;
        min-height: 80px;
        max-height: 80px;
      }
    }
  }
}
