.layout-container {
  height: calc(100vh - 65px);

  .mat-drawer-content {
    height: calc(100vh - 128px);
    padding: 32px;
  }
}

@media screen and (max-width: 599px) {
  .layout-container {
    height: calc(100vh - 57px);

    .mat-drawer-content {
      height: calc(100vh - 121px);
    }
  }
}
