<ng-container *ngIf="error || loading; else info">
  <mat-progress-bar *ngIf="loading && !error" mode="indeterminate"></mat-progress-bar>

  <app-error *ngIf="error && !loading" [errorMessage]="error"></app-error>
</ng-container>

<ng-template #info>
  <div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center start">
    <mat-card fxFlex.md="80" fxFlex.gt-md="60">
      <img mat-card-image src="/assets/webp/banner.webp" alt="Photo from Futurama">
      <mat-card-content>
        <div fxLayout="column">
          <div *ngIf="programInfo" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="48px">
            <div fxFlex>
              <p><strong>Synopsis</strong></p>
              <p>{{ programInfo.synopsis }}</p>
            </div>

            <div fxLayout="column" fxLayoutGap="12px">
              <div>
                <p><strong>Years Aired</strong></p>
                <p>{{ programInfo.yearsAired }}</p>
              </div>

              <div>
                <p><strong>Creators</strong></p>
                <mat-chip-list>
                  <a *ngFor="let creator of programInfo.creators" [href]="creator.url" target="_blank">
                    <mat-chip>
                      {{ creator.name }}
                    </mat-chip>
                  </a>
                </mat-chip-list>
              </div>
            </div>
          </div>

          <h2>Characters</h2>

          <div fxFlex fxLayout="row wrap" fxLayoutGap="12px grid" class="character-grid">
            <app-character-card *ngFor="let character of characters" fxFlex [character]="character" [thumbnails]="true">
            </app-character-card>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end" fxLayoutGap="6px">
        <button mat-button (click)="navigate('characters')">View all characters</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
